<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="MyDb"
         connectionString="server=172.21.54.253;database=26_132430063;user=26_132430063;password=İnif123.;SslMode=Preferred;AllowPublicKeyRetrieval=True;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

</configuration>
